@model IEnumerable<NET_MVC_LeetSpeak_Text_Generator.Models.ApiCall>

@{
    ViewData["Title"] = "History";
}

<link rel="stylesheet" href="~/DataTables/datatables.min.css" />
<script src="~/js/jQuery.js"></script>
<script src="~/DataTables/datatables.min.js"></script>


<h1>Previous api call made by all users</h1>

<table class="table" id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Response)
            </th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<script>
    //new DataTable('#table');
    $("#table").DataTable({
        fixedColumns: true,
        columnDefs: [
            {
                targets: [1,2],
                orderable: false
            },
            {
                targets: [0],
                width: 50,
                orderable: true
            },
        ],
        ajax: {
            url: "/api/ApiCallsControllerApi",
            dataSrc: ""
        },
        columns: [
            {
                data: "id"
            },
            {
                data: "request"
            },
            {
                data: "response",
                render: function (data) {
                    return data == "" ? "API ERROR" : data;
                }
            }
        ]

    });
</script>
